Repository ocadotechnology-university/Robimy-dobro---aukcje, pull requests merged in 2025-04, with the labels that each got.

#27 Refactor App.tsx to MUI Components
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/HomePage/HomePage.tsx
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/main/App.test.tsx
  frontend/src/main/App.tsx
Labels: enhancement

#38 Implement custom MUI theme with palette and typography
  frontend/src/index.tsx
  frontend/src/theme/palette.ts
  frontend/src/theme/theme.ts
  frontend/src/theme/typography.ts
Labels: enhancement

#36 Add AuctionPage layout
  frontend/src/components/AuctionPage/AuctionPage.tsx
  frontend/src/components/AuctionPage/AuctionsList.tsx
  frontend/src/components/AuctionPage/Filters.tsx
  frontend/src/main/App.tsx
Labels: enhancement

#37 Add description section and improve form styling
  frontend/src/components/AddPage/AddPage.styles.tsx
  frontend/src/components/AddPage/AddPage.tsx
Labels: enhancement

#42 Add auction card component
  frontend/src/components/AuctionPage/AuctionCard.styles.tsx
  frontend/src/components/AuctionPage/AuctionCard.tsx
Labels: enhancement, frontend

#43 Add filter component
  frontend/src/components/AuctionPage/Filters.styles.tsx
  frontend/src/components/AuctionPage/Filters.tsx
Labels: enhancement, frontend

#51 Add navigations in nav bar and custom components
  frontend/src/components/NavBar/NavBar.styles.tsx
  frontend/src/components/NavBar/NavBar.tsx
Labels: enhancement, frontend

#53 Add navigations in home page and custom components
  frontend/src/components/HomePage/HomePage.styles.tsx
  frontend/src/components/HomePage/HomePage.tsx
Labels: enhancement, frontend

#54 Improve AuctionPage layout
  frontend/src/components/AuctionPage/AuctionPage.tsx
  frontend/src/components/AuctionPage/Filters.styles.tsx
  frontend/src/components/AuctionPage/Filters.tsx
Labels: enhancement, frontend

#55 Add navigation to buttons in AddPage
  frontend/src/components/AddPage/AddPage.tsx
Labels: enhancement, frontend

#58 Implement token verification
  backend/pom.xml
  backend/src/main/java/com/example/backend/constants/CustomExeption.java
  backend/src/main/java/com/example/backend/constants/ErrorMessages.java
  backend/src/main/java/com/example/backend/controller/AuthController.java
  backend/src/main/java/com/example/backend/security/JwtTokenProvider.java
  backend/src/main/java/com/example/backend/service/GoogleAuthService.java
  backend/src/main/java/com/example/backend/util/Role.java
Labels: enhancement, backend

#60 Fix the console error problem on NavBar.tsx
  frontend/src/components/NavBar/NavBar.tsx
Labels: bug, frontend

#41 Add login page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/GoogleLogin/Auth.tsx
  frontend/src/index.tsx
  frontend/src/main/App.tsx
Labels: frontend

#61 Update auction card buttons placement
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AuctionPage/AuctionCard/AuctionCard.styles.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionCard.tsx
Labels: enhancement, frontend

#64 Implement token filter
  backend/pom.xml
  backend/src/main/java/com/example/backend/security/JwtAuthenticationFilter.java
  backend/src/main/java/com/example/backend/security/JwtTokenProvider.java
  backend/src/main/java/com/example/backend/security/SecurityConfig.java
  backend/src/test/java/com/example/backend/security/JwtAuthenticationFilterTest.java
Labels: backend

#68 Add react query
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AuctionPage/AuctionPage.tsx
  frontend/src/components/AuctionPage/AuctionsList.tsx
  frontend/src/hooks/useGetAuctions.tsx
  frontend/src/main/App.tsx
  frontend/src/services/fetchAuctions.tsx
Labels: frontend

#69 Replace Grid with Grid2
  frontend/src/components/AuctionPage/AuctionCard/AuctionCard.styles.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionCard.tsx
Labels: bug, frontend

#73 Add filters chips support and using API in services
  frontend/src/components/AuctionPage/AuctionPage.tsx
  frontend/src/components/AuctionPage/Filters.styles.tsx
  frontend/src/components/AuctionPage/Filters.tsx
  frontend/src/components/GoogleLogin/Auth.tsx
  frontend/src/services/API.tsx
  frontend/src/services/fetchAuctions.tsx
Labels: enhancement, frontend

#75 Add get auctions filtering skeleton
  backend/src/main/java/com/example/backend/controller/AuctionController.java
  backend/src/main/java/com/example/backend/dto/AuctionCreateDto.java
  backend/src/main/java/com/example/backend/dto/AuctionFiltersDto.java
  backend/src/main/java/com/example/backend/dto/AuctionGetDto.java
  backend/src/main/java/com/example/backend/model/Auction.java
  backend/src/main/java/com/example/backend/repository/AuctionRepository.java
  backend/src/main/java/com/example/backend/repository/GoogleSheetsAuctionRepository.java
  backend/src/main/java/com/example/backend/service/AuctionService.java
Labels: enhancement, backend

#85 Add filtering logic with Google Authorization API (SELECT)
  backend/src/main/java/com/example/backend/controller/AuctionController.java
  backend/src/main/java/com/example/backend/repository/AuctionRepository.java
  backend/src/main/java/com/example/backend/repository/GoogleSheetsAuctionRepository.java
  backend/src/main/java/com/example/backend/service/GoogleSheetsService.java
  backend/src/main/java/com/example/backend/util/AuctionQuery.java
  backend/src/main/java/com/example/backend/util/GvizResponseParser.java
  backend/src/main/resources/application.properties
Labels: enhancement, backend

#83 Make auction card responsive
  frontend/src/components/AuctionPage/Auction.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionCard.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionDescription.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionFooter.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionHeader.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionStatus.tsx
  frontend/src/components/AuctionPage/AuctionCard/ContentSection.tsx
  frontend/src/components/AuctionPage/AuctionCard/ImageSection.tsx
  frontend/src/components/AuctionPage/AuctionCard/helpers.ts
  frontend/src/components/AuctionPage/AuctionsList.tsx
Labels: enhancement, frontend

#88 Add auction builder and create mapping
  backend/src/main/java/com/example/backend/controller/AuctionController.java
  backend/src/main/java/com/example/backend/mapper/AuctionMapper.java
  backend/src/main/java/com/example/backend/model/Auction.java
  backend/src/main/java/com/example/backend/service/AuctionService.java
  backend/src/main/java/com/example/backend/util/Column.java
  backend/src/main/java/com/example/backend/util/GvizResponseParser.java
  backend/src/main/java/com/example/backend/util/Response.java
Labels: backend

#94 Add price validation and format code
  frontend/src/components/AddPage/AddPage.tsx
  frontend/src/components/common/CitySelectField.tsx
  frontend/src/components/common/ControlledCheckbox.tsx
  frontend/src/components/common/DateToggleGroup.tsx
  frontend/src/components/common/DescriptionEditor/DescriptionEditor.tsx
  frontend/src/components/common/ImageUploadBox.tsx
  frontend/src/components/common/OutlinedActionButton.tsx
  frontend/src/components/common/PriceTextField.tsx
  frontend/src/components/common/PrimaryActionButton.tsx
  frontend/src/components/common/TitleTextField.tsx
Labels: frontend

#96 Implement authorization
  backend/src/main/java/com/example/backend/controller/AuthController.java
  backend/src/main/java/com/example/backend/security/JwtTokenProvider.java
  frontend/src/components/AuctionPage/AuctionsList.tsx
  frontend/src/components/GoogleLogin/Auth.tsx
  frontend/src/hooks/AuthProvider.tsx
  frontend/src/index.tsx
Labels: enhancement, frontend, backend

#98 Add cors config
  backend/src/main/java/com/example/backend/controller/AuthController.java
  backend/src/main/java/com/example/backend/security/CorsConfig.java
  backend/src/main/java/com/example/backend/security/SecurityConfig.java
Labels: backend

#101 Small changes for proper authorization
  frontend/src/components/AuctionPage/AuctionPage.tsx
  frontend/src/components/AuctionPage/AuctionsList.tsx
  frontend/src/hooks/AuthProvider.tsx
  frontend/src/services/API.tsx
Labels: frontend

#100 Add image uploading and cutting
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AddPage/AddPage.tsx
  frontend/src/components/common/CropConfirmButton.tsx
  frontend/src/components/common/ImageUploadBox.styles.tsx
  frontend/src/components/common/ImageUploadBox.tsx
  frontend/src/components/common/Services/CropImage.tsx
  frontend/src/theme/typography.ts
Labels: enhancement, frontend

#102 Fix integration issues
  backend/src/main/java/com/example/backend/controller/AuctionController.java
  backend/src/main/java/com/example/backend/dto/AuctionGetDto.java
  backend/src/main/java/com/example/backend/mapper/AuctionMapper.java
  backend/src/main/java/com/example/backend/repository/AuctionRepository.java
  backend/src/main/java/com/example/backend/repository/GoogleSheetsAuctionRepository.java
  backend/src/main/java/com/example/backend/service/AuctionService.java
  backend/src/main/java/com/example/backend/service/GoogleSheetsService.java
  backend/src/main/java/com/example/backend/util/AuctionQuery.java
  backend/src/main/java/com/example/backend/util/UrlSanitizer.java
Labels: bug, backend

#103 Add image handling
  backend/src/main/java/com/example/backend/controller/ImageController.java
  backend/src/main/java/com/example/backend/model/ImageData.java
  backend/src/main/java/com/example/backend/service/GoogleDriveService.java
  backend/src/main/java/com/example/backend/service/ImageCacheService.java
  backend/src/main/java/com/example/backend/util/MimeTypeDetector.java
  backend/src/test/java/com/example/backend/util/MimeTypeDetectorTest.java
  frontend/src/components/AuctionPage/AuctionCard/ImageSection.tsx
  frontend/src/hooks/useGetImages.tsx
  frontend/src/services/API.tsx
  frontend/src/services/fetchImage.tsx
Labels: enhancement, frontend, backend
