Repository ocadotechnology-university/Robimy-dobro---aukcje, pull requests merged in 2025-06, with the labels that each got.

#164 Extend auction filtering
  backend/src/main/java/com/example/backend/controller/AuctionController.java
  backend/src/main/java/com/example/backend/gviz/AuctionQueryBuilder.java
  backend/src/main/java/com/example/backend/gviz/GvizQueryBuilder.java
  backend/src/main/java/com/example/backend/repository/AuctionRepository.java
  backend/src/main/java/com/example/backend/repository/GoogleSheetsAuctionRepository.java
  backend/src/main/java/com/example/backend/service/AuctionService.java
  backend/src/main/java/com/example/backend/util/AuctionSorter.java
  frontend/src/components/AuctionPage/Filters.tsx
  frontend/src/services/fetchAuctions.ts
Labels: frontend, backend

#168 Auction card styling and sorting
  backend/src/main/java/com/example/backend/mapper/AuctionMapper.java
  backend/src/main/java/com/example/backend/util/AuctionSorter.java
  backend/src/main/java/com/example/backend/util/AuctionStatusResolver.java
  frontend/src/components/AuctionPage/AuctionCard/AuctionCard.styles.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionCard.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionStatus.tsx
  frontend/src/components/AuctionPage/AuctionCard/ImageSection.tsx
  frontend/src/components/AuctionPage/Filters.tsx
  frontend/src/components/common/Dot.tsx
Labels: enhancement, frontend, backend

#177 Add delete auction
  backend/src/main/java/com/example/backend/controller/AuctionController.java
  backend/src/main/java/com/example/backend/exception/ErrorMessages.java
  backend/src/main/java/com/example/backend/repository/AuctionRepository.java
  backend/src/main/java/com/example/backend/repository/GoogleSheetsAuctionRepository.java
  backend/src/main/java/com/example/backend/service/AuctionService.java
  backend/src/main/java/com/example/backend/service/GoogleSheetsService.java
  frontend/src/components/AuctionPage/AuctionCard/AuctionCard.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionFooter.tsx
  frontend/src/components/AuctionPage/AuctionCard/ContentSection.tsx
  frontend/src/components/AuctionPage/AuctionsList.tsx
  frontend/src/hooks/useDeleteAuction.ts
  frontend/src/services/API.ts
  frontend/src/services/deleteAuction.ts
Labels: enhancement, frontend, backend

#180 Add key to Avatar component
  frontend/src/components/NavBar/UserAvatar.tsx
Labels: bug, frontend

#184 Migrate to vite
  docker-compose.yml
  frontend/Dockerfile
  frontend/eslint.config.mjs
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.test.tsx
  frontend/src/__tests__/ControlledCheckbox.test.tsx
  frontend/src/__tests__/PrimaryActionButton.test.tsx
  frontend/src/__tests__/TitleTextField.test.tsx
  frontend/src/components/AddPage/AddPage.tsx
  frontend/src/components/AuctionPage/Auction.ts
  frontend/src/components/AuctionPage/AuctionCard/AuctionCard.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionFooter.tsx
  frontend/src/components/AuctionPage/AuctionCard/ContentSection.tsx
  frontend/src/components/AuctionPage/AuctionCard/ExpandText.tsx
  frontend/src/components/AuctionPage/AuctionCard/UpdateComponents/UpdateContentSection.tsx
  frontend/src/components/AuctionPage/AuctionCard/UpdateComponents/UpdateImageSection.tsx
  frontend/src/components/AuctionPage/AuctionPage.tsx
  frontend/src/components/AuctionPage/AuctionsList.tsx
  frontend/src/components/AuctionPage/Filters.tsx
  frontend/src/components/AuthPage/Auth.tsx
  frontend/src/components/common/ImageUploadBox.tsx
  frontend/src/components/common/Services/CropImage.tsx
  frontend/src/hooks/AuthProvider.tsx
  frontend/src/services/deleteAuction.ts
  frontend/src/services/followAuction.ts
  frontend/src/services/unfollowAuction.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: enhancement, frontend

#187 Add no bid filter
  backend/src/main/java/com/example/backend/gviz/AuctionQueryBuilder.java
  backend/src/main/java/com/example/backend/repository/GoogleSheetsAuctionRepository.java
Labels: enhancement, backend

#188 UI enhancements
  frontend/src/components/AuctionPage/AuctionCard/AuctionFooter.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionStatus.tsx
  frontend/src/components/AuctionPage/AuctionsList.tsx
  frontend/src/components/AuctionPage/Filters.styles.tsx
  frontend/src/components/AuctionPage/Filters.tsx
  frontend/src/components/HomePage/statsCard/StatsCard.tsx
  frontend/src/components/NavBar/UserAvatar.tsx
  frontend/src/components/common/CitySelectField.tsx
  frontend/src/components/common/DateSelectedField.tsx
Labels: enhancement, frontend

#193 Fix adding and updating service
  backend/src/main/java/com/example/backend/mapper/AuctionMapper.java
  backend/src/main/java/com/example/backend/service/GoogleSheetsService.java
  frontend/src/components/AddPage/AddPage.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionCard.tsx
  frontend/src/components/AuctionPage/AuctionCard/ExpandText.tsx
  frontend/src/hooks/usePostImage.ts
  frontend/src/services/API.ts
  frontend/src/services/postImage.ts
Labels: bug, documentation, enhancement, frontend, backend

#202 Improve title
  frontend/src/components/AuctionPage/AuctionCard/AuctionHeader.tsx
  frontend/src/components/AuctionPage/AuctionCard/ExpandTitle.tsx
  frontend/src/components/AuctionPage/AuctionPage.tsx
  frontend/src/components/AuctionPage/AuctionsList.tsx
  frontend/src/hooks/useGetAuctions.ts
Labels: bug, enhancement, frontend

#204 Add time validation
  backend/src/main/java/com/example/backend/exception/AuctionAlreadyStartedException.java
  backend/src/main/java/com/example/backend/service/AuctionService.java
Labels: enhancement, backend

#206 Improve image handling
  backend/src/main/java/com/example/backend/controller/ImageController.java
  backend/src/main/java/com/example/backend/exception/ImageNotFoundException.java
  backend/src/main/java/com/example/backend/model/ImageData.java
  backend/src/main/java/com/example/backend/repository/GoogleDriveLocalDriveImageRepository.java
  backend/src/main/java/com/example/backend/repository/ImageRepository.java
  backend/src/main/java/com/example/backend/service/ImageCacheService.java
  backend/src/main/java/com/example/backend/service/ImageService.java
  backend/src/main/java/com/example/backend/service/LocalDriveService.java
  backend/src/main/java/com/example/backend/util/MimeTypeDetector.java
Labels: enhancement, backend

#208 Fix follow button
  frontend/src/components/AuctionPage/AuctionCard/AuctionFooter.tsx
  frontend/src/components/AuctionPage/AuctionPage.tsx
  frontend/src/components/AuctionPage/AuctionsList.tsx
  frontend/src/hooks/useGetAuctions.ts
Labels: enhancement, frontend
