Repository ocadotechnology-university/Robimy-dobro---aukcje, pull requests merged in 2025-05, with the labels that each got.

#111 Add auction follow flow
  backend/src/main/java/com/example/backend/controller/AuctionController.java
  backend/src/main/java/com/example/backend/repository/AuctionRepository.java
  backend/src/main/java/com/example/backend/repository/GoogleSheetsAuctionRepository.java
  backend/src/main/java/com/example/backend/service/AuctionService.java
  backend/src/main/java/com/example/backend/service/GoogleSheetsService.java
  backend/src/main/java/com/example/backend/util/FollowersQuery.java
  backend/src/main/java/com/example/backend/util/GvizResponseParser.java
Labels: enhancement, backend

#109 Add create new auction post service
  backend/src/main/java/com/example/backend/controller/AuctionController.java
  backend/src/main/java/com/example/backend/dto/AuctionCreateDto.java
  backend/src/main/java/com/example/backend/dto/AuctionGetDto.java
  backend/src/main/java/com/example/backend/mapper/AuctionMapper.java
  backend/src/main/java/com/example/backend/model/Auction.java
  backend/src/main/java/com/example/backend/repository/GoogleSheetsAuctionRepository.java
  backend/src/main/java/com/example/backend/util/DateTransformer.java
  backend/src/main/java/com/example/backend/util/GvizResponseParser.java
Labels: enhancement, backend

#110 Add post auction
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AddPage/AddAuction.tsx
  frontend/src/components/AddPage/AddPage.tsx
  frontend/src/components/AddPage/Services/DateTransformer.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionDescription.tsx
  frontend/src/hooks/usePostAuction.tsx
  frontend/src/services/API.tsx
  frontend/src/services/postAuction.tsx
Labels: enhancement, frontend

#113 Add image uploading
  backend/src/main/java/com/example/backend/config/GoogleDriveConfig.java
  backend/src/main/java/com/example/backend/constants/CustomException.java
  backend/src/main/java/com/example/backend/controller/AuthController.java
  backend/src/main/java/com/example/backend/controller/ImageController.java
  backend/src/main/java/com/example/backend/dto/AuctionGetDto.java
  backend/src/main/java/com/example/backend/mapper/AuctionMapper.java
  backend/src/main/java/com/example/backend/service/GoogleAuthService.java
  backend/src/main/java/com/example/backend/service/GoogleDriveService.java
  backend/src/main/java/com/example/backend/service/ImageCacheService.java
  backend/src/test/java/com/example/backend/service/GoogleDriveServiceTest.java
  frontend/src/components/AddPage/AddPage.tsx
  frontend/src/components/AuctionPage/Auction.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionCard.tsx
  frontend/src/components/AuctionPage/AuctionCard/ImageSection.tsx
  frontend/src/components/AuctionPage/AuctionsList.tsx
  frontend/src/hooks/usePostImage.tsx
  frontend/src/services/API.tsx
  frontend/src/services/postImage.tsx
Labels: enhancement, frontend, backend

#119 Replace hardcoded role
  backend/src/main/java/com/example/backend/controller/AuthController.java
  backend/src/main/java/com/example/backend/repository/GoogleSheetsAuctionRepository.java
  backend/src/main/java/com/example/backend/security/JwtAuthenticationFilter.java
  backend/src/main/java/com/example/backend/security/JwtTokenProvider.java
  backend/src/main/java/com/example/backend/security/Role.java
  backend/src/main/java/com/example/backend/service/GoogleAuthService.java
  backend/src/main/java/com/example/backend/service/GoogleSheetsService.java
  backend/src/main/java/com/example/backend/util/AdminQuery.java
  backend/src/main/java/com/example/backend/util/GvizResponseParser.java
Labels: enhancement, backend

#117 Add editing auction service
  frontend/src/components/AddPage/AddPage.tsx
  frontend/src/components/AddPage/AuctionDto.ts
  frontend/src/components/AuctionPage/Auction.ts
  frontend/src/components/AuctionPage/AuctionCard/AuctionCard.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionFooter.tsx
  frontend/src/components/AuctionPage/AuctionCard/ContentSection.tsx
  frontend/src/components/AuctionPage/AuctionsList.tsx
  frontend/src/hooks/useGetAuctions.ts
  frontend/src/hooks/useGetImages.ts
  frontend/src/hooks/usePostAuction.ts
  frontend/src/hooks/usePostImage.ts
  frontend/src/hooks/useUpdateAuction.ts
  frontend/src/services/API.ts
  frontend/src/services/fetchAuctions.ts
  frontend/src/services/fetchImage.ts
  frontend/src/services/postAuction.ts
  frontend/src/services/postAuction.tsx
  frontend/src/services/postImage.ts
  frontend/src/services/updateAuction.ts
Labels: enhancement, frontend

#124 Fix AddPage scroll
  frontend/src/components/AddPage/AddPage.styles.tsx
Labels: bug, frontend

#126 Add logo and theme update
  frontend/src/App.tsx
  frontend/src/components/AddPage/AddPage.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionFooter.tsx
  frontend/src/components/AuctionPage/AuctionPage.tsx
  frontend/src/components/AuctionPage/Filters.styles.tsx
  frontend/src/components/AuctionPage/Filters.tsx
  frontend/src/components/GoogleLogin/Auth.tsx
  frontend/src/components/HomePage/HomePage.styles.tsx
  frontend/src/components/HomePage/HomePage.tsx
  frontend/src/components/NavBar/NavBar.styles.tsx
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/common/ControlledCheckbox.tsx
  frontend/src/components/common/CropConfirmButton.tsx
  frontend/src/components/common/DescriptionEditor/DescriptionEditor.styles.tsx
  frontend/src/components/common/ImageUploadBox.styles.tsx
  frontend/src/components/common/ImageUploadBox.tsx
  frontend/src/components/common/OutlinedActionButton.tsx
  frontend/src/components/common/PrimaryActionButton.tsx
  frontend/src/components/common/Services/CropImage.tsx
  frontend/src/components/common/TitleTextField.tsx
  frontend/src/image/background.svg
  frontend/src/image/homeImage.svg
  frontend/src/image/homePageImage.svg
  frontend/src/image/image1.jpg
  frontend/src/image/image2.jpg
  frontend/src/image/image3.jpg
  frontend/src/image/image4.jpg
  frontend/src/image/logo.png
  frontend/src/image/template.png
  frontend/src/theme/palette.ts
Labels: enhancement, frontend

#131 Add initial component tests
  frontend/src/__tests__/ControlledCheckbox.test.tsx
  frontend/src/__tests__/PrimaryActionButton.test.tsx
  frontend/src/__tests__/TitleTextField.test.tsx
Labels: enhancement, frontend

#139 Authpage UI improvement
  frontend/src/App.tsx
  frontend/src/components/AuthPage/Auth.tsx
  frontend/src/theme/typography.ts
Labels: enhancement, frontend

#148 Adapt row to dynamic headers
  backend/src/main/java/com/example/backend/repository/GoogleSheetsAuctionRepository.java
  backend/src/main/java/com/example/backend/service/GoogleSheetsHeaderMappingService.java
  backend/src/main/java/com/example/backend/util/CreateRowInGoogleSheets.java
Labels: enhancement, backend

#149 Implement new HomePage design
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/HomePage/HomePage.styles.tsx
  frontend/src/components/HomePage/HomePage.tsx
  frontend/src/components/HomePage/sections/HomePageAnimatedInfo.tsx
  frontend/src/components/HomePage/sections/HomePageAnimatedStats.tsx
  frontend/src/components/HomePage/sections/HomePageImage.tsx
  frontend/src/components/HomePage/sections/HomePageInfo.tsx
  frontend/src/components/HomePage/sections/HomePageStats.tsx
  frontend/src/components/HomePage/statsCard/StatsCard.tsx
  frontend/src/components/HomePage/statsCard/StatsCardAnimations.ts
  frontend/src/components/HomePage/statsCard/StatsCardProps.ts
  frontend/src/components/HomePage/statsCard/StatsCardStack.tsx
  frontend/src/components/HomePage/statsCard/StatsCardStyle.ts
  frontend/src/image/szlachetna_paczka.svg
  frontend/src/image/zobaczMnieLogo.svg
  frontend/src/theme/typography.ts
Labels: enhancement, frontend

#151 Fix filters position and add admin filters options
  frontend/src/App.tsx
  frontend/src/components/AuctionPage/AuctionPage.tsx
  frontend/src/components/AuctionPage/AuctionsList.tsx
  frontend/src/components/AuctionPage/Filters.styles.tsx
  frontend/src/components/AuctionPage/Filters.tsx
Labels: enhancement, frontend

#156 Implement refresh token
  backend/src/main/java/com/example/backend/controller/AuthController.java
  backend/src/main/java/com/example/backend/security/JwtTokenProvider.java
  backend/src/main/java/com/example/backend/security/SecurityConfig.java
  frontend/src/hooks/AuthProvider.tsx
Labels: enhancement, frontend, backend

#158 Implement new navbar design
  backend/src/main/java/com/example/backend/DemoApplication.java
  backend/src/main/java/com/example/backend/gviz/AuctionQueryBuilder.java
  frontend/public/index.html
  frontend/public/logoSmall.png
  frontend/src/components/AuctionPage/Filters.styles.tsx
  frontend/src/components/AuctionPage/Filters.tsx
  frontend/src/components/AuthPage/Auth.tsx
  frontend/src/components/HomePage/sections/HomePageAnimatedInfo.tsx
  frontend/src/components/NavBar/NavBar.styles.tsx
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/NavBar/NavBarButton.tsx
  frontend/src/components/NavBar/NavBarLogo.tsx
  frontend/src/components/NavBar/UserAvatar.tsx
  frontend/src/components/common/CenteredBox.tsx
  frontend/src/image/szlachetnaPaczka.svg
  frontend/src/image/zobaczMnie.svg
Labels: enhancement, frontend

#138 Add updating and adding forms improvements
  frontend/src/components/AddPage/AddPage.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionCard.tsx
  frontend/src/components/AuctionPage/AuctionCard/AuctionFooter.tsx
  frontend/src/components/AuctionPage/AuctionCard/ContentSection.tsx
  frontend/src/components/AuctionPage/AuctionCard/UpdateComponents/UpdateContentSection.tsx
  frontend/src/components/AuctionPage/AuctionCard/UpdateComponents/UpdateImageSection.tsx
  frontend/src/components/AuctionPage/AuctionsList.tsx
Labels: bug, enhancement, frontend

#161 Serialize followers list as JSON when writing auction row
  backend/src/main/java/com/example/backend/util/CreateRowInGoogleSheets.java
Labels: bug, backend
